html, body {
  padding: 0px;
  margin: 0px;
  text-align: center;
}

.wrapper {
  display: block;
}

#headerImage {
  background-image: url('/assets/index/homepage-header.jpg');
  height: 100vh;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

#headerTagline {
  font: 'adobe-carlson-pro';
  font-style: italic;
  font-weight: 400;
  text-align: center;
  font-size: 4vh;
  color: rgb(255, 255, 255);
}

#headerMain {
  font-family: "din-condensed";
  font-weight: normal;
  text-align: center;
  font-size: 10vh;
  color: rgb(255, 255, 255);
  margin: 20px;
}

#welcome {
  font-weight: 400;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#birdIcon {
  min-width: 10vh;
}

h2 {
  font-family: "adobe-caslon-pro";
  font-size: 5vh;
  color: rgb(97, 97, 97);
}

p {
  max-width: 600px;
  margin: auto;
  color: rgb(97, 97, 97);
}

hr {
  max-width: 600px;
  background-color: rgb(142, 142, 142);
  margin-top: 100px;
}

#links {
  max-width: 80vw;
  text-align: center;
  margin: auto;
}

.col {
  display: inline-block;
  width: 27%;
  margin: none;
  margin-left: 1vw;
  margin-right: 1vw;
}

.link {
  display: block;
  width: 100%;
  margin-top: 2vh;
}
